html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100%;
    background-color: white;
    margin: 0px;
    padding: 0px;
    border:0px;
    font-family: Georgia;
    color: black;
    font-size: 16px;
}

h1 {
    font-size: 36px;
    max-width:100%
}
p {
    text-align: justify;
    font-size: 16px;
}
li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.uni-margins {
    margin: auto;
    width: 80%;
    max-width: 1400px;
}

.separator{
    height: 64px;
}

@media only screen and (max-width: 560px) {
  .buttons-row{
    display:none;
    visibility:hidden;
  }
  .uni-margins {
    width:96%;
    margin: auto;
  }
}


#main-img-background {
    background-image: url("res/background_main2.png");
    height: 200px;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.buttons-row {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.buttons-row a{
    padding: 0 4px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
.buttons-row a::after{
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.buttons-row a:hover::after{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#buttons-separator {
    background-color: black;
    height: 2px;
}


#logo img{
    max-width:100%;
    height:auto;
    display:block;
    margin:auto;
}



#about{
    padding-top: 50px;
    max-width: 510px;
}











.realm{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 20px;
}
.realm .name-image {
    display: flex;
    width:40%;
    justify-content: space-around;
    padding-right: 20%
}
.realm .description {
}
.realm ul {
    font-size: 15px;
}
.realm img {
    width: 120px;
    height: 120px;
}
.realm h2 {
    font-size: 20px;
}







#contact-data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
#contact-text {
    width: 45%;
}

#map {
    width: 45%;
    height: 300px;
}






.footer-space{
height: 130px;
}
.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height:35px;
  padding-top: 7px;
  padding-bottom: 14px;
  padding-left: 20px;
  background-color: black;
  display:flex;
  align-items: center;
}

#footerImg{
    height: 24px;
}
#footerTxt{
padding-left: 10px;
  color: #888;
  font-size: 14px;
  font-weight: normal;
}